---
layout: default
title: A Rally Against Mass Surveillance
video: true
---


<div class="abouttherally">
  <h2>About the rally</h2>
{% capture m %}

The NSA is spying on everyone's personal communications. It’s operating without any meaningful oversight. 

On October 26th, the 12th anniversary of the signing of the USA Patriot Act, **we're holding the largest rally yet** against NSA surveillance. **We’ll be handing more than a half-million petitions to Congress** to remind them that they work for us — and we won’t tolerate mass surveillance any longer.

A stellar group of whistleblowers, activists, researchers and others from both sides of the political spectrum will be speaking at this historic event. The list includes:

- Congressman **Justin Amash**
- Former senior NSA executive and whistleblower **Thomas Drake**
- Social critic **Naomi Wolf**
- **Jona Bechtolt**, from electro-punk band **YACHT**
- **Claire L. Evans**, also from **YACHT**
- **Lt. Dan Choi**, LGBT advocate and U.S. veteran
- **Rainey Reitman**, EFF
- **Bruce Schneier**, internationally renowned security technologist  
- **Craig Aaron**, Free Press
- **Kymone Freeman**, Director of the National Black LUV Fest
- Former New Mexico Governor **Gary Johnson**
- **Khaliah Barnes**, EPIC 
- **Shahid Buttar**, Bill of Rights Defense Committee
- **Malachi Byrd**, DC Youth Poetry Slam Team
- **Wafa Ben Hassine**, writer and human rights advocate
- Former Congressman **Dennis Kucinich**
- **Laura Murphy**, ACLU
- **NOT4PROPHET**, Hip Hop MC and community organizer
- **Black Alley**, DC-based soul-garage band

**Location:** <br />Marchers will gather in front of Union Station at 11:30 a.m. by the Christopher Columbus Memorial Fountain in Columbus Circle. Shortly after noon we’ll march to the National Mall at 3rd Street and Madison Dr. NW, in front of the Capitol Reflecting Pool, where there will be a stage set up for our rally speakers, musicians, and performers. <br />[Read more and see a map.](/gettingthere.html)

{% endcapture %}
{{ m | markdownify }}
  </div>

<div class="whoweare">

  <h2>Who we are</h2>
  <p>StopWatching.us is a coalition of more than 100 public advocacy organizations and companies from across the political spectrum. We came together in June 2013 to demand the U.S. Congress investigate the full extent of the NSA's spying programs. Go <a href="https://optin.stopwatching.us" target="_blank">here</a> to read our letter to U.S. Congress demanding accountability and reform. </p>

  <p>Members of the StopWatching.us coalition include:</p>

  <h3>PUBLIC ADVOCACY ORGANIZATIONS:</h3>

  <div class="logos">
    {% include photos-orgs.html %}
    <div style="clear:both"></div>
  </div>
  <p class="seemore"><a href="organizations.html">+ More than 100 others. See the full list.</a></p>

  <h3>INDIVIDUALS:</h3>
    {% include photos-individuals.html %}
  <div style="clear: both;"></div>
  <p class="seemore"><a href="individuals.html">+ More than 30 others. See the full list.</a></p>

  <h3>COMPANIES:</h3>

  <div class="logos">
    {% include photos-companies.html %}
    <div style="clear: both;"></div>
    <p class="seemore"><a href="companies.html">+ More than 20 others. See the full list.</a></p>
  </div>
</div>

<div class="news">
  <h2>NEWS</h2>
  {% for post in site.posts %}
    <h3><a href="{{ post.url }}/">{{ post.title }}</a></h3>
    <strong>{{ post.date | date_to_string }}</strong>
    <p>{{ post.excerpt }}</p>
    <p><a href="{{ post.url }}/">Read more ...</a></p>
  {% endfor %}
</div>
