    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 pull-left person">
      <img src="img/people-tim.jpg" class="pull-left">
      <span class="people-text">
      <strong>Tim Berners-Lee</strong><br/>
      Inventor of the World Wide Web
      </span>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 pull-left person">
      <img src="img/people-daniel.jpg" class="pull-left">
      <span class="people-text">
      <strong>Daniel Ellsberg</strong><br/>
      Whistleblower of the Pentagon Papers, Author
      </span>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 pull-left person">
      <img src="img/people-gabriella.jpg" class="pull-left">
      <span class="people-text">
      <strong>Gabriella Coleman</strong><br/>
      Author and academic
      </span>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 pull-left person">
      <img src="img/people-glenn.jpg" class="pull-left">
      <span class="people-text">
      <strong>Glenn Greenwald</strong><br/>
      Journalist and lawyer
      </span>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 pull-left person">
      <img src="img/people-ai.jpg" class="pull-left">
      <span class="people-text">
      <strong>Ai Weiwei</strong><br/>
      Chinese artist and activist
      </span>
    </div>
    <!--<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 pull-left person">
      <img src="img/people-evangeline.jpg" class="pull-left">
      <span class="people-text">
      <strong>Evangeline Lilly</strong><br/>
      Actress
      </span>
    </div>-->
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 pull-left person">
      <img src="img/people-xeni.jpg" class="pull-left">
      <span class="people-text">
      <strong>Xeni Jardin</strong><br/>
      Journalist and founding partner of Boing Boing
      </span>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 pull-left person">
      <img src="img/people-eli.jpg" class="pull-left">
      <span class="people-text">
      <strong>Eli Pariser</strong><br/>
      Founder, Upworthy
      </span>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 pull-left person">
      <img src="img/people-wil.jpg" class="pull-left">
      <span class="people-text">
      <strong>Wil Wheaton</strong><br/>
      Actor
      </span>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 pull-left person">
      <img src="img/people-alexis.jpg" class="pull-left">
      <span class="people-text">
      <strong>Alexis Ohanian</strong><br/>
      Founder, Reddit
      </span>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 pull-left person">
      <img src="img/people-anil.jpg" class="pull-left">
      <span class="people-text">
      <strong>Anil Dash</strong><br/>
      Entrepreneur, technologist and writer
      </span>
    </div>