    <a class="col-xs-6 col-sm-6 col-md-4 col-lg-3" href="http://www.thoughtworks.com/"><img class="img-responsive" src="/img/logos/thoughtworks.png" /></a>
    <a class="col-xs-6 col-sm-6 col-md-4 col-lg-3" href="http://reddit.com"><img class="img-responsive" src="img/logos/reddit.jpg" /></a>
    <a class="col-xs-6 col-sm-6 col-md-4 col-lg-3" href="http://rackspace.com"><img class="img-responsive" src="/img/logos/rackspace.png" /></a>
    <a class="col-xs-6 col-sm-6 col-md-4 col-lg-3" href="https://mega.co.nz/"><img class="img-responsive" src="/img/logos/mega.png" /></a>
    <a class="col-xs-6 col-sm-6 col-md-4 col-lg-3" href="https://www.privateinternetaccess.com/"><img class="img-responsive" src="/img/logos/pia.png" /></a>
    <a class="col-xs-6 col-sm-6 col-md-4 col-lg-3" href="http://www.benjerry.com/"><img class="img-responsive" src="/img/logos/benandjerrys.png" /></a>
    <a class="col-xs-6 col-sm-6 col-md-4 col-lg-3" href="http://flagger.io/"><img class="img-responsive" src="/img/logos/flagger.png" /></a>