<div class="sharecenter">
<div class='sp_614 sp_tw_small social-count' count="0"></div>
<div class='sp_615 sp_fb_small social-count' count="0"></div>

    <a count="0" href="https://plus.google.com/share?url=http://1984day.com" id="gplus" target="_blank"  class="social-count google-button"> 
      <div id="sgplus" class="icon"></div>
    </a>
<div class='sp_616 sp_em_small ' count="0"></div>
<!--
    <a href="https://twitter.com/home?status=On Sunday (8/4), thousands are rallying against unconstitutional surveillance for %231984Day. I'll be one of them: http://1984day.com" count="0" target="_blank" id="tweet-box" class="twitter-button social-count">
      <div id="stwit"></div>
    </a>
    <a href="https://www.facebook.com/share.php?u=http://1984day.com" id="facebook" count="0" target="_blank"  class="social-count facebook-button">
      <div id="sfb"></div>
    </a>
    <a count="0" href="https://plus.google.com/share?url=http://1984day.com" id="gplus" target="_blank"  class="social-count google-button"> 
      <div id="sgplus icon" ></div>
    </a>
    <a href="https://www.thunderclap.it/projects/3417-8-4-is-1984day-stopthensa" target="_blank"><img src="/img/thunderclap.jpg" /></a>
-->
</div>