<div class="sidebar col-lg-12">
<h4>WAYS TO TAKE PART</h4>
 <ul class="triangles">
  <li>In person in Washington, D.C</li>
  <li>At a viewing party in cities around the world</li>
  <li>Take part online</li>
 </ul>
 <h4>WHAT TO EXPECT:</h4>
 <ul  class="triangles">
  <li>The single largest rally yet in opposition to surveillance</li>
  <li>Live music</li>
 </ul>
 <h4>Sign up now:</h4>

 <form class="mcsignup form-horizontal" role="form" style="margin-top: 15px;">
    <div class="form-group nopad">
      <label for="email2" >EMAIL:</label>
      <input type="email" id="email2" name="email" class="flatinput email-field sidebar-email-input">
    </div>
    <div class="form-group nopad" style="display:none">
      <label for="name2" >NAME:</label>
      <input type="text" id="name2"class="flatinput" name="name">
    </div>
    <div class="form-group nopad" style="display:none">
      <label for="inputPassword1" >PHONE:</label>
      <input type="text" id="phone2" class="flatinput" name="phone">
    </div>
    <div class="form-group nopad" style="display:none">
      <label for="forZip" >ZIP:</label>
      <input type="text" id="forZip" class="flatinput" name="zipcode">
    </div>
    <div class="form-group nopad">
      <button type="submit" class="btn btn-danger btn-lg validate-submit">SIGN UP TO ATTEND</button>
    </div>
    <div class="status1">&#160;</div>
    <div class="textcenter">
      <a target="_blank" href="http://igg.me/at/stopwatchingus"><img class="img-responsive centermargins" src="img/indiegogo-sidebar.jpg" /></a>
    </div>
  </form>
</div>