<div class="sidebar">
<h4>WAYS TO TAKE PART</h4>
 <ul class="triangles">
  <li>In person in Washington, D.C</li>
  <li>At a viewing party in cities around the world.</li>
  <li>Watch Online</li>
 </ul>
 <h4>WHAT TO EXPECT:</h4>
 <ul  class="triangles">
  <li>The single largest rally yet in opposition to surveillance.</li>
  <li>Speeches from memebers of Congress and privacy experts.</li>
  <li>Live Music.</li>
 </ul>
 <h4>SIGN UP NOW:</h4>
 <form class="mcsignup form-horizontal" role="form" style="margin-top: 15px;">
    <div class="form-group">
      <label for="email2" class="col-lg-2  ">EMAIL*:</label>
      <div class="col-lg-7 nopad">
        <input type="email" id="email2" name="email" class="flatinput email-field">
      </div>
    </div>
    <div class="form-group">
      <label for="name2" class="col-lg-2  ">NAME:</label>
      <div class="col-lg-7 nopad">
        <input type="text" id="name2"class="flatinput" name="name">
      </div>
    </div>
    <div class="form-group">
      <label for="inputPassword1" class="col-lg-2 ">PHONE:</label>
      <div class="col-lg-7 nopad">
        <input type="text" id="inputPassword1" class="flatinput" name="phone">
      </div>
    </div>
    <div class="form-group">
      <label for="forZip" class="col-lg-2  ">ZIP:</label>
      <div class="col-lg-7 nopad">
        <input type="text" id="forZip" class="flatinput" name="zipcode">
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-6">
        <button type="submit" class="btn btn-danger btn-lg validate-submit">SIGN UP TO ATTEND</button>
      </div>
    </div>
    <div class="status1">&#160;</div>
  </form>
</div>