<!DOCTYPE html>
<html>
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
      <title>{% if page.title %} {{ page.title }} | {% endif %} Stop Watching Us</title> 
      <meta name="description" content="On October 26th, people from all walks of life will descend on Washington, DC to call for an end to mass NSA surveillance. Will you be there?"> 
      <meta name="viewport" content="width=device-width"> 
      <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.0/css/bootstrap.min.css"> 
      <link rel="stylesheet" href="/css/main.css"> 
      <script type="text/javascript" src="//use.typekit.net/cdj3zbf.js"></script>
      <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
      <!--[if lt IE 9]> <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
      <script src="//c.shpg.org/89/sp.js"></script>


    <!-- Facebook OpenGraph tags -->
    <meta property="og:title" content="This is the most effective thing you can do to fight back against the NSA. You in?" />
    <meta property="og:description" content="On October 26th, people from all walks of life will descend on Washington, DC to call for an end to mass NSA surveillance. Will you be there?" />
    <meta property="og:type" content="cause" />
    <meta property="og:url" content="https://rally.stopwatching.us" />
    <meta property="og:image" content="https://rally.stopwatching.us/img/facebook-v4.jpg" />
    <meta property="og:site_name" content="StopWatching.us" />

    <!-- Twitter Card tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@stopwatchingus">
    <meta name="twitter:creator" content="@stopwatchingus">
    <meta name="twitter:title" content="A Rally Against Mass Surveillance">
    <meta name="twitter:description" content="On October 26th, people from all walks of life will descend on Washington, DC to call for an end to mass NSA surveillance. Will you be there?">
    <meta name="twitter:image" content="https://rally.stopwatching.us/img/facebook-v4.jpg">


    </head>
    <body>
      <!-- Static navbar -->
      <div class="navbar navbar-default navbar-static-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><img src="/img/logo-header.png"></a>
          </div>

          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/">HOME</a></li>
              <li><a href="/news.html">NEWS</a></li>
              <li><a href="/faq.html">FAQ</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Get Involved<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="/volunteers.html">Volunteer</a></li>
                  <li><a href="/lobbyday.html">Lobby Day</a></li>
                </ul>
              </li>
              <li><a href="https://optin.stopwatching.us">PETITION</a></li>
              <li><a href="/resources.html">RESOURCES</a></li>
              <li><a href="mailto:organizers@stopwatching.us">CONTACT</a></li>
              <li><a href="/gettingthere.html" class="gettingthere">Getting there</a></li>
            </ul>
          </div>
        </div>
      </div>
      {% if page.blank != true %}{% if page.sidebar != true %}
      <div class="jumbotron default updated ">
      <div class="container">
          <div class="col-xs-12 col-sm-12 col-md-6">

            <h2 style="margin-top: 40px; margin-bottom:30px; font-size:60px;">Thank you<br /></h2>

            <p style="font-weight:normal; font-size:24px; margin-bottom:25px;">On October 26th thousands of you gathered on the steps of the capitol and sent a clear message to Congress: Stop Watching Us.</p>

            <p style="font-weight:normal;  font-size:24px; margin-bottom:30px;">Stay involved: Message "Privacy" to 877877 using mobile SMS and we'll get in touch when it's time for action again. </p>

            <div style="clear:both;"> </div>

            <div class="sharecenter col-xs-12 col-sm-6" style="padding:0 0 20px 0; margin-bottom:40px;">

            <a data-network="twitter" href="https://twitter.com/home?status=Livestream%20of%20the%20rally%20against%20mass%20surveillance%20in%20Washington%20DC%3A%20https%3A%2F%2Frally.stopwatching.us%20%23stopwatchingus" count="0" target="_blank" id="tweet-box3" class="sp_tw_small social-count"><div id="stwit" class="icon"></div></a>

            <div data-network="facebook" class='sp_1014 sp_fb_small social-count' count="0"></div>

                <a data-network="googleplus" count="0" href="https://plus.google.com/share?url=https://rally.stopwatching.us" id="gplus" target="_blank"  class="social-count google-button"> 
                  <div id="sgplus" class="icon"></div>
                </a>

          </div>
          <div class=" col-xs-12 col-sm-6" style="padding:0;">
            <a target="_blank"  href="http://igg.me/at/stopwatchingus"><img src="/img/indiegogo-rallyday.jpg" style="padding-top:14px;" /></a><br /> 
          </div>

          <div style="clear:both"></div>

          <div style="clear: both;"></div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6">
              <div class="video-container">
                <iframe width="560" height="315" src="//www.youtube-nocookie.com/embed/BrtOZyGL3ww?hd=1" frameborder="0" allowfullscreen></iframe>
              </div>
        </div>

        </div>

</div>
        {% if page.video == true %}
        <div class="video">
          <div class="container">
            <div class="col-lg-2 col-md-1 hidden-sm hidden-xs">&nbsp;</div>

            <div class="col-lg-8 col-md-10 col-sm-11 col-xs-12"> 
              <div class="video-container">
                <iframe width="560" height="315" src="//www.youtube-nocookie.com/embed/aGmiw_rrNxk" frameborder="0" allowfullscreen></iframe>
              </div>
            </div>

            <div class="col-lg-2 col-md-1 col-sm-1 col-xs-12">

              <div class="sharecenter">

                <div class="shareclear">
                  <a data-network="twitter" href="https://twitter.com/home?status=The one video everyone needs to see about NSA spying -> https://rally.stopwatching.us&hashtags=stopwatchingus" count="0" target="_blank" id="tweet-box2" class="social-count"><div id="stwit" class="icon"></div></a>
                </div>

                <div class="shareclear">
                  <div data-network="facebook" class='sp_971 sp_fb_small social-count' count="0"></div>
                </div>

                <div class="shareclear" style="height:64px; padding-left:1px;">
                  <a data-network="googleplus" count="0" href="https://plus.google.com/share?url=https://rally.stopwatching.us" id="gplus" target="_blank"  class="social-count google-button"> 
                    <div id="sgplus" class="icon"></div>
                  </a>
                </div>

              </div>
            </div>

            <div style="clear:both"> </div>
          </div>
        </div>
        {% endif %}

      </div>


      {% endif %}{% endif %}


      <div class="container content {% if page.sidebar == true %} sidebarpage {% endif %}">
        <div class="row">

          {% if page.blank != true %}

          <div class="col-xs-12 col-sm-8 col-md-8">
            {{content}}
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3 col-lg-offset-1">
            {% include share.html %}
            {% include sidebar.html %}
          </div>

          {% else %}

            {{content}}

          {% endif %}

        </div>
      </div>

      <div class="footer">
        <div class="container">
          <div class="col-lg-12">
            <img src="/img/logo-header.png" class="fade img-responsive" >
            <span class="pull-right">
              <img src="/img/cc.png" class="pull-right">
              <br/><br/>
              <p>This work is licensed under a Creative Commons Attribution 3.0 Unported License.<br /><a href="privacy.html" style="float: right;">Privacy Policy (updated October 26th, 2013)</a></p>

            </span>
          </div>
        </div>
      </div>
      <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
      <script>
      $.fn.serializeObject = function() {
          var o = {};
          var a = this.serializeArray();
          $.each(a, function() {
              if (o[this.name] !== undefined) {
                  if (!o[this.name].push) {
                      o[this.name] = [o[this.name]];
                  }
                  o[this.name].push(this.value || '');
              } else {
                  o[this.name] = this.value || '';
              }
          });
          return o;
      };

      /*function openFacebook(){var e="https://www.facebook.com/sharer/sharer.php?u=http://1984day.com";window.open(e,"Share on Facebook","width=500,height=500");return false}
      function openGplus(){var e="https://plus.google.com/share?url=http://1984day.com/";window.open(e,"Share on Google Plus","width=500,height=436");return false}*/
      function openTwitter(){
        var t="https://twitter.com/home?status=Thousands of people gathered on the steps of the capitol to fight back against NSA surveillance -> https://rally.stopwatching.us #StopWatchingUs&related=stopwatchingus,sinak,neutralthoughts";window.open(t,"Twitter","width=550,height=420");
          return false}
      function openTwitter2(){
        var t="https://twitter.com/home?status=This is the one video everyone needs to see about NSA spying -> https://rally.stopwatching.us&related=stopwatchingus,sinak,neutralthoughts";window.open(t,"Twitter","width=550,height=420");
          return false}
      function openTwitter3(){
        var t="https://twitter.com/home?status=Livestream%20of%20the%20rally%20against%20mass%20surveillance%20in%20Washington%20DC%3A%20https%3A%2F%2Frally.stopwatching.us%20%23stopwatchingus&related=stopwatchingus,sinak,neutralthoughts";window.open(t,"Twitter","width=550,height=420");
          return false}

      $(document).ready( function () {
        if($(window).width() >= 840){
            $('.tintup').attr('data-columns', 2);
        } 
        /*$("#facebook").attr("onclick","openFacebook(); return false;");
        $("#gplus").attr("onclick","openGplus(); return false;");*/
        $("#tweet-box").attr("onclick","openTwitter(); return false;")
        $("#tweet-box2").attr("onclick","openTwitter2(); return false;")
        $("#tweet-box3").attr("onclick","openTwitter(); return false;")

         $.ajax('https://d28jjwuneuxo3n.cloudfront.net/?networks=facebook,twitter,googleplus&url=https://rally.stopwatching.us/', {
            success: function (res, err) {
              $.each(res, function(network, value){
                var count = value;
                if(count / 10000 > 1) {
                  count = Math.ceil(count/1000) + 'k'
                }
                $('[data-network="'+network+'"]').attr('count', count);
              })
            },
            dataType: 'jsonp'
          })


          // I only have one form on the page but you can be more specific if need be.
          $('.hero-email-input').on('focus', function (){
            $('.jumbotron .form-group').slideDown(550);
          })

          $('.sidebar-email-input').on('focus', function (){
            $('.sidebar .form-group').slideDown(550);
          })



          $('.volunteer-form').on('submit', function(ev){
            var form = $(ev.currentTarget);
            var data = form.serializeObject();
            console.log(data);
            //$('.status1', form).text('Checking email...')
            //$('button', form).text('SIGNING UP...')
            //$('.status1', form).empty();
            $.ajax({
              url: 'https://skipchimp.herokuapp.com/subscribe',
              data: data,
              type: 'POST',
              success: function () {
                $(form).empty();
                $(form).html('Thanks for your support.');
                setTimeout(function () {
                  //window.location = "/share.html";
                }, 500);
              }
            })
            return false;
          });

          $('.notindc-form').on('submit', function(ev){
            var form = $(ev.currentTarget);
            var data = form.serializeObject();
            console.log(data);
            //$('.status1', form).text('Checking email...')
            //$('button', form).text('SIGNING UP...')
            //$('.status1', form).empty();
            $.ajax({
              url: 'https://skipchimp.herokuapp.com/subscribe',
              data: data,
              type: 'POST',
              success: function () {
                $(form).empty();
                $(form).html('<strong>Thanks for your support.</strong>');
                setTimeout(function () {
                  //window.location = "/share.html";
                }, 500);
              }
            })
            return false;
          });

          $('.lobby-form').on('submit', function(ev){
            var form = $(ev.currentTarget);
            var data = form.serializeObject();
            console.log(data);
            //$('.status1', form).text('Checking email...')
            //$('button', form).text('SIGNING UP...')
            //$('.status1', form).empty();
            $.ajax({
              url: 'https://skipchimp.herokuapp.com/subscribe',
              data: data,
              type: 'POST',
              success: function () {
                $(form).empty();
                $(form).html('Thanks for your support.');
                setTimeout(function () {
                  //window.location = "/share.html";
                }, 500);
              }
            })
            return false;
          });
          $('.mcsignup').on('submit', function(ev){
            var form = $(ev.currentTarget);
            var data = form.serializeObject();
            $('.status1', form).text('Checking email...')
            $('button', form).text('SIGNING UP...')
            validateEmail(data.email, {
              success: function () {
                $('.status1', form).empty();
                $.ajax({
                  url: 'https://skipchimp.herokuapp.com/subscribe',
                  data: data,
                  type: 'POST',
                  success: function () {
                    $(form).empty();
                    $(form).text('Thanks for your support, redirecting...');
                    setTimeout(function () {
                      window.location = "/share.html";
                    }, 500);
                  }
                })
              },
              error: function () {
                $('.status1', form).text('Email address is invalid');
                $('button', form).text('SIGN UP TO ATTEND')

              }
            })
            return false;
          });
          var validateEmail = function (email, options) {
            $.ajax({
              type: "GET",
              url: 'https://api.mailgun.net/v2/address/validate?callback=?',
              data: { address: email, api_key: 'pubkey-2pjzaxwf7x7thcgvc7u0xhi17yrp1lv3' },
              dataType: "jsonp",
              crossDomain: true,
              success: function(data, status_text) {
                if(data.is_valid) {
                  options.success(data);
                } else {
                  options.error();
                }
              },
              error: function(request, status_text, error) {
                options.error();
              }
          });
          }
      });

      </script>

      {% if page.blank == true %}
      <script>
        // $( document ).ready(function() {
        //   $('iframe').contents().find('body').css({"min-height": "100", "overflow" : "hidden"});
        //   setInterval( "$('iframe').height($('iframe').contents().find('body').height() + 20)", 1000 );
        // });
      </script>
      {% endif %}

      <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.0/js/bootstrap.min.js"></script>
      <!-- Piwik -->
        <script type="text/javascript">
          var _paq = _paq || [];
	  _paq.push(["setCookieDomain", "*.stopwatching.us"]);
          _paq.push(["trackPageView"]);
          _paq.push(["enableLinkTracking"]);

          (function() {
            var u=(("https:" == document.location.protocol) ? "https" : "http") + "://piwik.stopwatching.us/";
            _paq.push(["setTrackerUrl", u+"piwik.php"]);
            _paq.push(["setSiteId", "1"]);
            var d=document, g=d.createElement("script"), s=d.getElementsByTagName("script")[0]; g.type="text/javascript";
            g.defer=true; g.async=true; g.src=u+"piwik.js"; s.parentNode.insertBefore(g,s);
          })();
        </script>
        <script async src="https://d36hc0p18k1aoc.cloudfront.net/pages/secure/a5b5e4.js"></script>
        <!-- End Piwik Code -->
    </body>
</html>
