<!DOCTYPE html> 
<html> 
    <head> 
      <meta charset="utf-8"> 
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
      <title></title> 
      <meta name="description" content=""> 
      <meta name="viewport" content="width=device-width"> 
      <link rel="stylesheet" href="/css/bootstrap.min.css"> 
      <link rel="stylesheet" href="/css/bootstrap-theme.min.css"> 
      <link rel="stylesheet" href="/css/main.css"> 
      <script type="text/javascript" src="//use.typekit.net/cdj3zbf.js"></script>
      <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
      <!--[if lt IE 9]> <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]--> 
    </head>
    <body>
      <!-- Static navbar -->
      <div class="navbar navbar-default navbar-static-top col-lg-10 col-lg-2 col-lg-offset-1">
        <div class="container">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#"><img src="/img/logo-header.png"></a>
            </div>
            <!--
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav navbar-right">
                <li><a href="#">SIGN UP</a></li>
                <li><a href="#">VOLUNTEER</a></li>
                <li><a href="#">BLOG</a></li>
                <li><a href="#">FAQ</a></li>
              </ul>
            </div> --> 
          </div>
        </div>
      </div>

      <div class="jumbotron default">
        <div class="container">
          <div class="col-lg-10 col-lg-offset-1">
            <h2>This October 26th, 2013 in Washington, D.C. and around the country</h2>
            <h1>A Rally Against Mass Surveillance</h1>
          </div>

            <div class="signupform signupform-container">
             <form class="mcsignup emailsignup form-horizontal" role="form">
              <div class="form-group">
                <label for="email" class="col-lg-2 control-label nopad">EMAIL:</label>
                <div class="col-lg-8 nopad">
                  <input type="text" id="email" class="flatinput email-field hero-email-input" name="email">
                </div> 
              </div>
              <div class="form-group" style="display: none;">
                <label for="" class="optionallabel col-lg-2 control-label nopad">Optional</label>
                </div>
              <div class="form-group"  style="display: none;">
                <label for="name" class="col-lg-2 control-label nopad">NAME:</label>
                <div class="col-lg-8 nopad">
                  <input type="text" id="name" class="flatinput hero-name-input" name="name" >
                </div>
              </div>
              <div class="form-group" style="display: none;">
                <label for="phone" class="col-lg-2 control-label nopad">PHONE:</label>
                <div class="col-lg-8 nopad">
                  <input type="text" id="phone" class="flatinput" name="phone">
                </div>
              </div>
              <div class="form-group" style="display: none;">
                <label for="zipcode" class="col-lg-2 control-label nopad">ZIP:</label>
                <div class="col-lg-8 nopad">
                  <input type="text" id="zipcode" class="flatinput" name="zipcode">
                </div> 
              </div>
                <div class="form-group">
                    <button type="submit" class="col-lg-2  btn btn-danger btn-lg signup validate-submit">SIGN UP TO ATTEND</button>
                    <div class="status1" style="height: 95px;">&#160;</div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      <div class="container content">
        <div class="row">
          <div class="col-xs-12 col-sm-8 col-md-8">
            {{content}}
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4">
            {% include share.html %}
            {% include sidebar.html %}
          </div>
        </div>
      </div>

      <div class="footer">
        <div class="container">
          <div class="col-lg-10 col-lg-offset-1">
            <img src="/img/logo-header.png" class="fade">
            <span class="pull-right">
              <img src="/img/cc.png" class="pull-right">
              <br/><br/>
              <p>This work is licensed under a Creative Commons Attribution 3.0 Unported License.</p>
            </span>
          </div>
        </div>
      </div>
      <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.form/3.32/jquery.form.min.js"></script>
      <script>
      $.fn.serializeObject = function() {
          var o = {};
          var a = this.serializeArray();
          $.each(a, function() {
              if (o[this.name] !== undefined) {
                  if (!o[this.name].push) {
                      o[this.name] = [o[this.name]];
                  }
                  o[this.name].push(this.value || '');
              } else {
                  o[this.name] = this.value || '';
              }
          });
          return o;
      };
      $(document).ready( function () {
          // I only have one form on the page but you can be more specific if need be.
          $('.hero-email-input').on('focus', function (){ 
            $('.jumbotron .form-group').slideDown(550);
          })

          $('.mcsignup').on('submit', function(ev){
            var form = $(ev.currentTarget);
            var data = form.serializeObject();
            $('.status1', form).text('Checking email...')
            validateEmail(data.email, {
              success: function () {
                $('.status1', form).empty();
                $.ajax({
                  url: 'http://skipchimp.herokuapp.com/subscribe',
                  data: data,
                  type: 'POST',
                  success: function () {
                    $('.signupform-container').empty();
                    $('.signupform-container').text('Thanks for your support!');

                  }
                })
              }, 
              error: function () {
                $('.status1', form).text('Email address is invalid');
              }
            })
            return false;
          });
          var validateEmail = function (email, options) {
            $.ajax({
              type: "GET",
              url: 'https://api.mailgun.net/v2/address/validate?callback=?',
              data: { address: email, api_key: 'pubkey-2pjzaxwf7x7thcgvc7u0xhi17yrp1lv3' },
              dataType: "jsonp",
              crossDomain: true,
              success: function(data, status_text) {
                if(data.is_valid) {
                  options.success(data);
                } else {
                  options.error();
                }
              },
              error: function(request, status_text, error) {
                options.error();
              }
          });
          }
      });

      </script>
      <script src="/js/bootstrap.min.js"></script>
    </body>
</html>
