<!DOCTYPE html>
<html>
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <title>{% if page.title %} {{ page.title }} | {% endif %} Stop Watching Us</title>
      <meta name="description" content="On October 26th, people from all walks of life will descend on Washington, DC to call for an end to mass NSA surveillance. Will you be there?">
      <meta name="viewport" content="width=device-width">
      <link rel="stylesheet" href="/css/bootstrap.min.css">
      <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
      <link rel="stylesheet" href="/css/main.css">
      <script type="text/javascript" src="//use.typekit.net/cdj3zbf.js"></script>
      <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
      <!--[if lt IE 9]> <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
      <script src="//c.shpg.org/89/sp.js"></script>


    <!-- Facebook OpenGraph tags -->
    <meta property="og:title" content="This is the most effective thing you can do to fight back against the NSA. You in?" />
    <meta property="og:description" content="On October 26th, people from all walks of life will descend on Washington, DC to call for an end to mass NSA surveillance. Will you be there?" />
    <meta property="og:type" content="cause" />
    <meta property="og:url" content="https://rally.stopwatching.us" />
    <meta property="og:image" content="https://rally.stopwatching.us/img/facebook-v4.jpg" />
    <meta property="og:site_name" content="StopWatching.us" />

    <!-- Twitter Card tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@stopwatchingus">
    <meta name="twitter:creator" content="@sinak">
    <meta name="twitter:title" content="A Rally Against Mass Surveillance">
    <meta name="twitter:description" content="On October 26th, people from all walks of life will descend on Washington, DC to call for an end to mass NSA surveillance. Will you be there?">
    <meta name="twitter:image" content="https://rally.stopwatching.us/img/facebook-v4.jpg">


    </head>
    <body>
      <!-- Static navbar -->
      <div class="navbar navbar-default navbar-static-top">
        <div class="container">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/"><img src="/img/logo-header.png"></a>
            </div>

            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav navbar-right">
                <li><a href="/">HOME</a></li>
                <li><a href="news.html">NEWS</a></li>
                <li><a href="https://optin.stopwatching.us">PETITION</a></li>
                <li><a href="mailto:organizers@stopwatching.us">CONTACT</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      {% if page.blank != true %}
      <div class="jumbotron default">
        <div class="container">
          <div class="col-lg-10 col-lg-offset-1">
            <h2>October 26th, 2013 in Washington, D.C.</h2>
            <h1>A Rally Against Mass Surveillance</h1>
          </div>

            <div class="signupform signupform-container">
             <form class="mcsignup emailsignup form-horizontal" role="form">
              <div class="form-group">
                <label for="email" class="col-lg-2 control-label nopad">EMAIL:</label>
                <div class="col-lg-8 nopad">
                  <input type="text" id="email" class="flatinput email-field hero-email-input" name="email">
                </div>
              </div>
              <div class="form-group"  style="display: none;">
                <label for="name" class="col-lg-2 control-label nopad">NAME:</label>
                <div class="col-lg-8 nopad">
                  <input type="text" id="name" class="flatinput hero-name-input" name="name" >
                </div>
              </div>
              <div class="form-group" style="display: none;">
                <label for="phone" class="col-lg-2 control-label nopad">PHONE:</label>
                <div class="col-lg-8 nopad">
                  <input type="text" id="phone" class="flatinput" name="phone">
                </div>
              </div>
              <div class="form-group" style="display: none;">
                <label for="zipcode" class="col-lg-2 control-label nopad">ZIP:</label>
                <div class="col-lg-8 nopad">
                  <input type="text" id="zipcode" class="flatinput" name="zipcode">
                </div>
              </div>
                <div class="form-group">
                    <button type="submit" class="col-lg-2  btn btn-danger btn-lg signup validate-submit">SIGN UP TO ATTEND</button>
                    <div class="status1" style="height: 95px;">&#160;</div>
                    <!--<div class="cantattend">Can't attend? <a target="_blank" href="http://igg.me/at/stopwatchingus">Support our Indiegogo campaign</a></div>-->
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      {% endif %}


      <div class="container content">
        <div class="row">

          {% if page.blank != true %}

          <div class="col-xs-12 col-sm-8 col-md-8">
            {{content}}
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3 col-lg-offset-1">
            {% include share.html %}
            {% include sidebar.html %}
          </div>

          {% else %}

            {{content}}

          {% endif %}

        </div>
      </div>

      <div class="footer">
        <div class="container">
          <div class="col-lg-12">
            <img src="/img/logo-header.png" class="fade img-responsive" >
            <span class="pull-right">
              <img src="/img/cc.png" class="pull-right">
              <br/><br/>
              <p>This work is licensed under a Creative Commons Attribution 3.0 Unported License.<br /><a href="privacy.html" style="float: right;">Privacy Policy</a></p>

            </span>
          </div>
        </div>
      </div>
      <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
      <script>
      $.fn.serializeObject = function() {
          var o = {};
          var a = this.serializeArray();
          $.each(a, function() {
              if (o[this.name] !== undefined) {
                  if (!o[this.name].push) {
                      o[this.name] = [o[this.name]];
                  }
                  o[this.name].push(this.value || '');
              } else {
                  o[this.name] = this.value || '';
              }
          });
          return o;
      };
      $(document).ready( function () {
         $.ajax('https://d28jjwuneuxo3n.cloudfront.net/?networks=facebook,twitter,googleplus&url=https://optin.stopwatching.us/', {
            success: function (res, err) {
              $.each(res, function(network, value){
                var count = value;
                if(count / 10000 > 1) {
                  count = Math.ceil(count/1000) + 'k'
                }
                $('[data-network="'+network+'"]').attr('count', count);
              })
            },
            dataType: 'jsonp'
          })


          // I only have one form on the page but you can be more specific if need be.
          $('.hero-email-input').on('focus', function (){
            $('.jumbotron .form-group').slideDown(550);
          })

          $('.sidebar-email-input').on('focus', function (){
            $('.sidebar .form-group').slideDown(550);
          })

          $('.mcsignup').on('submit', function(ev){
            var form = $(ev.currentTarget);
            var data = form.serializeObject();
            $('.status1', form).text('Checking email...')
            $('button', form).text('SIGNING UP...')
            validateEmail(data.email, {
              success: function () {
                $('.status1', form).empty();
                $.ajax({
                  url: 'https://skipchimp.herokuapp.com/subscribe',
                  data: data,
                  type: 'POST',
                  success: function () {
                    $(form).empty();
                    $(form).text('Thanks for your support, redirecting...');
                    setTimeout(function () {
                      window.location = "/share.html";
                    }, 500);
                  }
                })
              },
              error: function () {
                $('.status1', form).text('Email address is invalid');
                $('button', form).text('SIGN UP TO ATTEND')

              }
            })
            return false;
          });
          var validateEmail = function (email, options) {
            $.ajax({
              type: "GET",
              url: 'https://api.mailgun.net/v2/address/validate?callback=?',
              data: { address: email, api_key: 'pubkey-2pjzaxwf7x7thcgvc7u0xhi17yrp1lv3' },
              dataType: "jsonp",
              crossDomain: true,
              success: function(data, status_text) {
                if(data.is_valid) {
                  options.success(data);
                } else {
                  options.error();
                }
              },
              error: function(request, status_text, error) {
                options.error();
              }
          });
          }
      });

      </script>

      {% if page.blank == true %}
      <script>
        // $( document ).ready(function() {
        //   $('iframe').contents().find('body').css({"min-height": "100", "overflow" : "hidden"});
        //   setInterval( "$('iframe').height($('iframe').contents().find('body').height() + 20)", 1000 );
        // });
      </script>
      {% endif %}

      <script src="/js/bootstrap.min.js"></script>
      <!-- Piwik -->
        <script type="text/javascript">
          var _paq = _paq || [];
	  _paq.push(["setCookieDomain", "*.stopwatching.us"]);
          _paq.push(["trackPageView"]);
          _paq.push(["enableLinkTracking"]);

          (function() {
            var u=(("https:" == document.location.protocol) ? "https" : "http") + "://piwik.stopwatching.us/";
            _paq.push(["setTrackerUrl", u+"piwik.php"]);
            _paq.push(["setSiteId", "1"]);
            var d=document, g=d.createElement("script"), s=d.getElementsByTagName("script")[0]; g.type="text/javascript";
            g.defer=true; g.async=true; g.src=u+"piwik.js"; s.parentNode.insertBefore(g,s);
          })();
        </script>
        <!-- End Piwik Code -->
    </body>
</html>
